*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:linear-gradient(135deg,#ff9966,#ff5e62);

}

.container{

background:white;

padding:40px;

width:500px;

border-radius:15px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.3);

}

h1{

margin-bottom:15px;

}

select{

width:100%;

padding:15px;

font-size:18px;

margin-top:20px;

border-radius:8px;

}

button{

width:100%;

padding:15px;

margin-top:20px;

background:#ff5e62;

color:white;

font-size:18px;

border:none;

border-radius:8px;

cursor:pointer;

}

button:hover{

background:#e63946;

}

.result{

margin-top:30px;

background:#f4f4f4;

padding:20px;

border-radius:10px;

}

.result h2{

margin-bottom:15px;

}